@import '../../../scss/variables';

:host {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.assertions {
  display: flex;
  flex-direction: column;
  gap: 3em !important;
}

.case-display {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.case-heading {
  font-weight: bold;
  font-size: 300%;
}

.assertions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

