@import '../../../scss/variables';

:host {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.assertions {
  display: flex;
  flex-direction: column;
  gap: 3em !important;
}

.case-display {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.case-heading {
  display: flex;
  justify-content: space-between;

  & > span {
    font-weight: bold;
    font-size: 170%;
  }
}

.assertions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 3em;
}

