<div class="assertion-display">
  <div class="assertion-heading">
    <span>{{ assertion.name }}</span>
    <div class="actions">
      <fa-icon [icon]="faXmark" size="xl" (click)="clickDeleteAssertion()"></fa-icon>
      <fa-icon [icon]="faPen" size="xl" (click)="openUpdateAssertion()"></fa-icon>
    </div>
  </div>  
  <markdown [data]="assertion.body">
  </markdown>
</div>
<div class="actions">
  <button type="button" (click)="openCreateEvidence()">Add New Evidence</button>
</div>
<ul class="evidences">
  @for (evidence of assertion.evidences; track evidence.id) {
    <li>
      <app-evidence [evidence]="evidence" (evidenceDeleted)="onEvidenceDeleted($event)"></app-evidence>
    </li>
  }
</ul>