:host {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #dddddd;
  border-radius: 10px;
  padding: 1.5em;
}

.assertion-display {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.assertion-heading {
  display: flex;
  justify-content: space-between;

  & > span {
    font-weight: bold;
    font-size: 170%;
  }
}

.evidences {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-left: 3em;
}