:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #dddddd;
  padding: 0.5em;
}

.assertion-display {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.assertion-heading {
  display: flex;
  justify-content: space-between;

  & > span {
    font-weight: bold;
    font-size: 170%;
  }
}

.evidences {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 3em;
}